<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form
      th:action="@{/update/{id}(id=${user.id})}"
      th:object="${user}"
      method="post">
    <label for="userName">Name</label>
    <input type="text" th:field="*{userName}" id="userName" placeholder="Username">
    <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="Password">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <label for="role">Role</label>
    <input type="text" th:field="*{role}" id="role" placeholder="Role">
    <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
    <input type="submit" value="Update User">
</form>
</body>
</html>